#app{
  color: #282828;
  width: 50%;
  margin: 3em auto;
	font-family: 'Roboto', sans-serif;
}

.content {
  padding: 3em 1em;
  border: 1px solid #282828;
}

.message {
  padding: 1em .3em;
  font-size: 1.3em;
  margin-bottom: .5em;
  border: 1px solid #282828;
  border-radius: 8px;
}

.message-error {
  background-color: rgb(217,83,79);
}

.message-success {
  background-color: rgb(92,184,92);
}

#settings {
  position: fixed;
  left: 1em;
  top: 3em;
  padding: .3em;
}

.border {
  border-radius: 5px;
  border: thin groove #282828;
  background-color: rgba(176, 196, 222, 0.10);
}

#settings .body{
  margin: 1em;
}

.center {
  width: 50%;
  margin: 1em auto;
}

.text-success{
  color: rgb(99, 164, 0);
  font-weight: 700;
}

.table-move {
  transition: transform 1s;
}

.tab-container {
	display: flex;
	color:#282828;
}

.tab-container div {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: .5em;
	text-align: center;
	font-weight: 700;
	flex: 1 1 auto;
	cursor: default;
}

.tab-container div:not(.active):hover {
	opacity: .8;
	cursor: pointer;
}

.tab-container .active {
	color: #E7E1E1;
	background-color: #282828;
}

.table-header{
  font-weight: bold;
  color: #E7E1E1;
  background-color: #282828;
}

.container {
  padding: 0.3em;
}

.row div {
  display: inline-block;
}

.col-4{
  width: 39%;
}

.col-2{
  width: 19%;
}

.col-3{
  width: 29%;
}

.col-6{
  width: 59%;
}

.table-body li {
  border-bottom: 1px solid rgba(169, 169, 169, 0.36);
}

ul {
  list-style-type: none;
  padding-left: 0 !important; 
}

.hover:hover {
  opacity: .8;
  cursor: pointer;
}

/* Form section */
form{
  padding: 1.5em;
}

input, select {
  border: 1px groove rgba(169, 169, 169, 0.36);
  border-radius: 3px;
  color: #282828;
  padding: .3em 1em;
}

option {
  color: #282828;
}

input[type="number"] {
  width: 8em;
}

select {
  width: 20em;
}

.button {
  display: inline-block;
  background-color: #E7E1E1;
  border: 1px solid #282828;
  padding: .2em 1em;
  border-radius: 3px;
  cursor: pointer;
}

button {
  display: inline-block;
  background-color: #E7E1E1;
  border: 1px solid #282828;
  padding: .2em 1em;
  border-radius: 3px;
  cursor: pointer;
  height: 2em;
}

button:not([disabled]):hover{
  opacity: .8;
}

button[disabled]:hover{
  cursor: not-allowed;
}

.button:hover {
  opacity: .8;
}

.form-group {
  margin: 1em 0;
}

.collapse-body {
  padding-left: 1.3em;
}

.collapse-header {
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  color: #004D9D;
  cursor: pointer;
}

.collapse-header:hover {
  opacity: .8;
}

