<div>
  <form class="center" v-on:submit="login($event)">
    <div class="center">
      <span>Потребителско име</span>
      <input type="text" placeholder="Име" v-model="username" />
    </div>
    <div class="center">
      <span>Парола</span>
      <input type="password" placeholder="Парола" v-model="password" />
    </div>
    <div class="center" style="color: darkred;" v-if="unauthorized">
      <span>Неправилно потребителско име/парола</span>
    </div>
    <div class="center">
      <button class="button">Вход</button>
    </div>
  </form>
</div>