<div id="settings" v-bind:class="{'border': collapsed}">
  <div>
    <span class="fa fa-bars hover" style="font-size: 1.5em;" v-on:click="collapsed = !collapsed"></span>
  </div>
  <div v-if="collapsed" class="body">
    <div>
      Потребител: <strong>{{user.name}}</strong>
    </div>
    <div>
      <span v-on:click="$emit('route', 'candidate-form')" class="collapse-header">Добавяне на кандидат</span>
    </div>
    <div>
      <span v-on:click="$emit('route', 'speciality-ranking')" class="collapse-header">Класиране</span>
    </div>
    <div>
      <span v-on:click="$emit('route', 'speciality-edit')" class="collapse-header">Промяна на специалност</span>
    </div>
    <div>
      <span v-on:click="$emit('logout')" class="collapse-header">Изход</span>
    </div>
  </div>
</div>