<div class="center">
  <div class="form-group">
    <div>Име и фамилия</div>
    <input type="text" placeholder="Име" name="candidateName" v-model="candidateName" />
  </div>

  <div class="form-group">
    <div>Оценка</div>
    <input type="number" min="2" max="6" name="gradeValue" placeholder="Оценка" v-model.number="selectedGrade" />
    <select v-model="selectedSubject">
      <option value="0" disabled selected>Предмет</option>
      <option v-for="subject in subjects" v-bind:value="subject">
        {{subject.name}}
      </option>
    </select>
    <div v-on:click="addGrade" class="button">Добави</div>
  </div>

  <div class="form-group">
    <div>Желание</div>
    <input type="number" min="1" name="wishPriority" placeholder="Позиция" v-model.number="selectedPosition" class="fw-20" />
    <select v-model="selectedSpeciality">
      <option value="0" disabled selected>Специалност</option>
      <option v-for="speciality in specialities" v-bind:value="speciality">
        {{speciality.name}}
      </option>
    </select>
    <div v-on:click="addWish" class="button">Добави</div>
  </div>

  <div class="form-group">
    <div>
      <span v-on:click="showGrades = !showGrades" class="collapse-header">Оценки</span>
    </div>
    <div v-if="showGrades" class="collapse-body">
      <span v-if="candidateGrades.length == 0">Няма въведени оценки</span>
      <div v-for="(grade, index) in candidateGrades">
        {{grade.subject}} ({{grade.grade}})
        <span v-on:click="remove(index, candidateGrades)" class="fa fa-times hover"></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div>
      <span v-on:click="showWishes = !showWishes" class="collapse-header">Желания</span>
    </div>
    <div class="collapse-body" v-if="showWishes">
      <span v-if="candidateWishes.length == 0">Няма въведени желания</span>
      <div v-for="(wish, index) in candidateWishes" :key="wish.id">
        <!-- <strong>Позиция: </strong>{{wish.priority}} <strong>Специалност</strong>{{wish.specialityId}} -->
        {{wish.speciality}} ({{wish.priority}})
        <span v-on:click="remove(index, candidateWishes)" class="fa fa-times hover"></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span v-on:click="sendCandidate" class="button">Изпращане</span>
  </div>
</div>